<div *ngFor="let track of tracks" class="item-track">
    <div class="card card-default" *ngIf="identity._id==user || track.status == 'ACCEPTED'">
        <div class="card-body">
            <div class="image-track pull-left">
                <a href="#">
                    <img src="{{url+'get-image-user/'+track.user.avatar}}" *ngIf="track.user.avatar" alt="imagen-usuario" />
                    <img src="assets/user.png" class="avatar-default" *ngIf="!track.user.avatar" alt="imagen-usuario" />
                </a>
            </div>

            <div class="data-track">
                <div class="titulo pull-left">
                    {{track.titulo}} &nbsp;|&nbsp;
                    <span *ngIf="track.status == 'ACCEPTED'" class="badge badge-success">ACEPTADO</span>
                    <span *ngIf="track.status == 'REJECTED'" class="badge badge-danger">RECHAZADO</span>
                    <span *ngIf="track.status == 'PENDING'" class="badge badge-info">PENDIENTE</span>


                </div>
                <div class="audio pull-right">
                    <audio controls class="audio-track" id="reproductor">
                        <source src="{{url + 'get-track/'+track.file}}" type="audio/mpeg">
                        Tu navegador no soporta el audio.
                    </audio>

                    <!-- Button trigger modal -->
                    <a href="#myModalPub{{track._id}}" class="btn" data-toggle="modal" role="button" *ngIf="track.status == 'ACCEPTED'">
                        <img src="assets/seleccion-de-la-guitarra.png" class="icono" alt="icono-guitarra">
                    </a>

                    <!-- Modal -->
                    <div class="modal fade" id="myModalPub{{track._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLongTitle">¿Deseas recomendar {{track.titulo}}?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="container-fluid">
                                        <div class="row">

                                            <div class="col-md-12 text-center">

                                                <form #pubForm="ngForm" class="col-lg-12">
                                                    <div class="alert alert-warning" role="alert">
                                                        ¿Desea escribir algún mensaje?<br>
                                                        <span style="font-size: 10px;">**Se incluirá texto
                                                            predeterminado.**</span>

                                                    </div>

                                                    <div class="form-group row">

                                                        <textarea type="text" name="text" #text="ngModel" [(ngModel)]="publication.text" class="form-control" id="text"></textarea>

                                                    </div>


                                                </form>
                                            </div>
                                        </div>



                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
                                    <input type="submit" class="btn btn-primary" value="Publicar" data-dismiss="modal" (click)="onSubmit(pubForm,track._id)">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="col-lg-12 text-center" *ngIf="total > tracks?.length">
        <p>

            <button class="btn" (click)="viewMore()" *ngIf="!noMore"><img src="assets/seleccion-de-la-guitarra.png" class="icono"alt="icono"></button>
        </p>
    </div>
</div>
<p *ngIf="tracks?.length==0" class="messagesEmpty">No hay tracks.</p>