<div class="col-lg-4">
    <h1 class="h1-strong">Estadísticas</h1>
    <div class="sidebar-admin">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

            <a class="nav-link" id="v-pills-send-tab" data-toggle="pill" [routerLink]="['/stadistics-list']" role="presentation" aria-controls="v-pills-home" aria-selected="true">Publicaciones por usuario</a>
            <a class="nav-link" id="v-pills-rec-tab" data-toggle="pill" [routerLink]="['/stadistics-list-7Days']" role="presentation" aria-controls="v-pills-profile" aria-selected="false">Canciones últimos 7 días</a>
            <a class="nav-link" id="v-pills-rec-tab" data-toggle="pill" [routerLink]="['/stadistics-list-follows']" role="presentation" aria-controls="v-pills-profile" aria-selected="false">Usuarios por nº de seguidores</a>


        </div>

    </div>

</div>