<div class="alert alert-success alert-dismissible fade show alert-pub" role="alert" *ngIf="status=='success-publication'">
    <strong>Canción compartida!!</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="alert alert-danger alert-dismissible fade show alert-pub" role="alert" *ngIf="status=='error-publication'">
    <strong>Error al compartir canción.</strong>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="row" id="canciones">
    <div class="col-lg-8">
        <h1 class="h1-strong">
            Canciones
            <a *ngIf="identity.role == 'ROLE_ADMIN'" class="btn btn-primary" type="submit" id="buscarBtn" [routerLink]="['/song']">
                <i class="fa fa-plus" aria-hidden="true"></i> Añadir Canción
            </a>
        </h1>


        <div class="people" *ngIf="songs?.length != 0">
            <div *ngFor="let song of songs" class="item-song">
                <div class="card card default">
                    <div class="card-body">
                        <div class="imagen-song pull-left">

                            <img src="{{song.imagen}}" *ngIf="song.imagen" alt="song-image" />
                            <img src="assets/user.png" *ngIf="!song.imagen" alt="song-image" />



                        </div>
                        <div class="song-titulo pull-left">
                            <p class="titulo">
                                <a href="#myModalDetails{{song._id}}" data-toggle="modal" role="button">
                                    {{song.titulo}}
                                </a> &nbsp;|&nbsp; {{song.artist.nombre}}

                            </p>
                        </div>
                        <!-- Modal -->
                        <div class="modal fade" id="myModalDetails{{song._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">{{song.titulo}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="pause()">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="col-md-12 text-center">
                                                <div class="imagen-song-modal">
                                                    <img src="{{song.imagen}}" *ngIf="song.imagen" alt="song-image" />
                                                    <img src="assets/user.png" alt="song-image" *ngIf="!song.imagen" />
                                                </div>

                                                <div class="datos-modal">
                                                    <hr> F.Lanzamiento : {{song.fechaLanzamiento}} &nbsp; Artista : {{song.artist.nombre}}
                                                    <hr>
                                                    <iframe id="reproductor" class="e2e-iframe-trusted-src" [src]="getSantizeUrl(song.url)" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>

                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="pause()">Atrás</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="song-acciones pull-right">
                            <div class="acciones-songs">
                                <!-- Button trigger modal -->
                                <a href="#myModalPub{{song._id}}" class="btn" data-toggle="modal" role="button">
                                    <img src="assets/seleccion-de-la-guitarra.png" class="icono" alt="icono-guitarra">
                                </a>
                                <!-- Modal -->
                                <div class="modal fade" id="myModalPub{{song._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                    <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">¿Deseas recomendar esta canción?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                <div class="container-fluid">
                                                    <div class="row">
                                                        <div class="col-md-7 text-center">
                                                            <div class="imagen-song-modal">
                                                                <img src="{{song.imagen}}" *ngIf="song.imagen" alt="song-image" />
                                                                <img src="assets/user.png" alt="song-image" *ngIf="!song.imagen" />
                                                            </div>

                                                            <div class="datos-modal">
                                                                <hr> F.Lanzamiento : {{song.fechaLanzamiento}} &nbsp; Artista : {{song.artist.nombre}}
                                                            </div>
                                                        </div>
                                                        <div class="col-md-5 text-center">

                                                            <form #pubForm="ngForm" class="col-lg-12 form-pub">
                                                                <div class="alert alert-warning" role="alert">
                                                                    ¿Desea escribir algún mensaje?<br>
                                                                    <span style="font-size: 10px;">**Se incluirá texto
                                                                        predeterminado.**</span>

                                                                </div>

                                                                <div class="form-group row">

                                                                    <textarea type="text" name="text" #text="ngModel" [(ngModel)]="publication.text" class="form-control" id="text" maxlength="140" placeholder="¿Qué quieres decir?..."></textarea>
                                                                    <div *ngIf="!text.valid && text.touched">
                                                                        <span *ngIf="url.errors?.maxlength" class="validation">No cumple el patrón de URI.</span>

                                                                    </div>
                                                                </div>


                                                            </form>
                                                        </div>
                                                    </div>



                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Atrás</button>
                                                <input type="submit" class="btn btn-primary" value="Publicar" data-dismiss="modal" (click)="onSubmit(pubForm,song._id)">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <a class="btn btn-primary" type="submit" id="editBtn" [routerLink]="['/song',song._id]" *ngIf="identity.role == 'ROLE_ADMIN'">
                                    <i class="fa fa-pencil-square-o " aria-hidden="true"></i>
                                </a>

                                <!-- Button trigger modal -->
                                <a href="#myModal{{song._id}}" class="btn btn-danger" data-toggle="modal" role="button" *ngIf="identity.role == 'ROLE_ADMIN'">
                                    <i class="fa fa-trash " aria-hidden="true"></i>
                                </a>

                                <!-- Modal -->
                                <div class="modal fade" id="myModal{{song._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true" *ngIf="identity.role == 'ROLE_ADMIN'">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLongTitle">¿Está seguro de eliminar esta canción?</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Si borras la canción: {{song.titulo}}, ya no aparecerá en el sistema.
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                                <button type="button" class="btn btn-primary" (click)="delete(song._id)" data-dismiss="modal">Eliminar</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>

                    </div>


                </div>
            </div>
            <ul class="pagination pull-right" *ngIf="!query">
                <li class="page-item" *ngIf="page > 1"><a class="page-link" [routerLink]="['/songs',prev_page]">Anterior</a>
                </li>
                <li class="page-item" *ngIf="pages != page"><a class="page-link" [routerLink]="['/songs',next_page]">Siguiente</a></li>
            </ul>

            <ul class="pagination pull-right" *ngIf="query">
                <li class="page-item" *ngIf="page > 1"><a class="page-link" [routerLink]="['/songs',query,prev_page]">Anterior</a>
                </li>
                <li class="page-item" *ngIf="pages != page"><a class="page-link" [routerLink]="['/songs',query,next_page]">Siguiente</a></li>
            </ul>
        </div>
        <p class="messagesEmpty" *ngIf="songs?.length == 0"> No hay canciones.</p>


    </div>
    <div class="col-lg-4">
        <h1 class="h1-strong">Buscar</h1>
        <div class="alert alert-danger" *ngIf="status=='error'">
            Login erróneo!
        </div>
        <form #searchSongForm="ngForm" class="col-lg-12 mb-2">
            <div class="row">
                <input type="text" name="query" class="form-control col-lg-9 col-sm-9" [(ngModel)]="query" id="query" placeholder="Nombre de canción o artista" required>
                <a class="btn btn-primary col-lg-1 col-sm-1" id="buscarBtn" [routerLink]="['/songs',query,1]" *ngIf="query.trim().length != 0">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
                <a class="btn btn-primary col-lg-1 col-sm-1" id="buscarBtn" [routerLink]="['/songs']" *ngIf="query.trim().length == 0">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>
            </div>
        </form>
    </div>

</div>