<div class="row" id="usuariosSe">
    <div class="col-lg-8">
        <h1 class="h1-strong">Usuarios seguidos por: {{user.username}}
            <a class="btn btn-primary" type="submit" (click)="atras()">
                Atrás
            </a>
        </h1>

        <div class="people" *ngIf="following?.length > 0">
            <div *ngFor="let follow of following" class="item-user">
                <div class="card card default">
                    <div class="card-body">
                        <div class="image-user pull-left">
                            <img src="{{url+'get-image-user/'+follow.followed.avatar}}" />

                        </div>
                        <div class="user-name pull-left">
                            <p class="username">
                                <a [routerLink]="['/profile',follow.followed._id]">
                                    {{follow.followed.username}}
                                </a> &nbsp;|&nbsp; {{follow.followed.role}}
                            </p>

                        </div>
                        <div class="actions pull-right" *ngIf="follow.followed._id != identity._id">
                            <button type="button" class="btn btn-info" *ngIf="follows.indexOf(follow.followed._id)<0 && follow.followed._id != identity._id" (click)="follow(follow.followed._id)">
                                <i class="fa fa-plus"></i>
                                Seguir
                            </button>
                            <button type="button" class="btn" *ngIf="follows.indexOf(follow.followed._id)>=0 && follow.followed._id != identity._id" (mouseenter)="mouseEnter(follow.followed._id)" (mouseleave)="mouseLeave(follow.followed._id)" [class.btn-light]="follow.followed._id != followUserOver"
                                [class.btn-danger]="follow.followed._id == followUserOver" (click)="unfollow(follow.followed._id)">
                                <span *ngIf="follow.followed._id == followUserOver; else siguiendo">
                                    <i class=" fa fa-times"></i>
                                    Dejar de Seguir
                                </span>
                                <ng-template #siguiendo>
                                    <i class="fa fa-check"></i>
                                    Siguiendo
                                </ng-template>
                            </button>

                        </div>
                    </div>
                </div>
            </div>
            <ul class="pagination pull-right">
                <li class="page-item" *ngIf="page > 1"><a class="page-link" [routerLink]="['/siguiendo',user_page,prev_page]">Anterior</a></li>
                <li class="page-item" *ngIf="pages != page"><a class="page-link" [routerLink]="['/siguiendo',user_page,next_page]">Siguiente</a></li>
            </ul>

        </div>
        <p class="messagesEmpty" *ngIf="following?.length == 0"> No hay usuarios.</p>

    </div>

    <!--<div class="col-lg-4">
        <h1 class="h1-strong">Buscar</h1>
        <div class="alert alert-danger" *ngIf="status=='error'">
            Login erróneo!
        </div>
        <form #searchUserForm="ngForm" class="col-lg-12 mb-2">
            <div class="row">
                <input type="text" name="usernameSearch" class="form-control col-lg-9 col-sm-9" [(ngModel)]="usernameSearch" id="usernameSearch" placeholder="Nombre de usuario" required>
                <a class="btn btn-primary col-lg-1 col-sm-1" id="buscarBtn" [routerLink]="['/buscar-gente',usernameSearch,1]" *ngIf="usernameSearch.trim().length != 0">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>

                <a class="btn btn-primary col-lg-1 col-sm-1" id="buscarBtn" [routerLink]="['/buscar-gente']" *ngIf="usernameSearch.trim().length == 0">
                    <i class="fa fa-search" aria-hidden="true">
                        </i>
                </a>
            </div>
        </form>
    </div>-->
</div>