<div class="row" id="usuariosSe">
    <div class="col-lg-8">
        <h1 class="h1-strong">Usuarios</h1>

        <div class="people" *ngIf="users?.length > 0">
            <div *ngFor="let user of users" class="item-user">
                <div class="card card default">
                    <div class="card-body">
                        <div class="image-user pull-left">
                            <img src="{{url+'get-image-user/'+user.avatar}}" alt="imagen-usuario" />

                        </div>
                        <div class="user-name pull-left">
                            <p class="username">
                                <a [routerLink]="['/profile',user._id]">
                                    {{user.username}}
                                </a> &nbsp;|&nbsp; <span class="nbs">{{user.role}}</span>
                            </p>

                        </div>
                        <div class="actions pull-right" *ngIf="user._id != identity._id">
                            <button type="button" class="btn btn-info" *ngIf="follows.indexOf(user._id)<0 && user._id != identity._id" (click)="follow(user._id)">
                                <em class="fa fa-plus"></em>
                                Seguir
                            </button>

                            <button type="button" class="btn" *ngIf="follows.indexOf(user._id)>=0 && user._id != identity._id" (mouseenter)="mouseEnter(user._id)" (mouseleave)="mouseLeave(user._id)" [class.btn-light]="user._id != followUserOver" [class.btn-danger]="user._id == followUserOver"
                                (click)="unfollow(user._id)">
                                <span *ngIf="user._id == followUserOver; else siguiendo">
                                    <em class=" fa fa-times"></em>
                                    Dejar de Seguir
                                </span>
                                <ng-template #siguiendo>
                                    <em class="fa fa-check"></em>
                                    Siguiendo
                                </ng-template>
                            </button>

                            <!-- Button trigger modal -->
                            <a *ngIf="identity.role == 'ROLE_ADMIN'" href="#myModal{{user._id}}" class="btn btn-danger" data-toggle="modal" role="button">
                                <em class="fa fa-trash " aria-hidden="true"></em>
                            </a>

                            <!-- Modal -->
                            <div class="modal fade" id="myModal{{user._id}}" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLongTitle">¿Está seguro de eliminar este usuario?</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            Si borras el usuario: {{user.username}}, ya no podrá acceder al sistema sistema y toda su información se eliminará.
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                                            <button type="button" class="btn btn-primary" (click)="delete(user)" data-dismiss="modal">Eliminar</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <ul class="pagination pull-right">
                <li class="page-item" *ngIf="page > 1"><a class="page-link" [routerLink]="['/buscar-gente',prev_page]">Anterior</a></li>
                <li class="page-item" *ngIf="pages != page"><a class="page-link" [routerLink]="['/buscar-gente',next_page]">Siguiente</a></li>
            </ul>

        </div>
        <p class="messagesEmpty" *ngIf="users?.length == 0"> No hay usuarios.</p>

    </div>

    <div class="col-lg-4">
        <h1 class="h1-strong">Buscar</h1>
        <div class="alert alert-danger" *ngIf="status=='error'">
            Login erróneo!
        </div>
        <form #searchUserForm="ngForm" class="col-lg-12 mb-2">
            <div class="row">
                <input type="text" name="usernameSearch" class="form-control col-lg-9 col-sm-9" [(ngModel)]="usernameSearch" id="usernameSearch" placeholder="Nombre de usuario" required>
                <a class="btn btn-primary col-lg-2 col-sm-2" id="buscarBtn" [routerLink]="['/buscar-gente',usernameSearch,1]" *ngIf="usernameSearch.trim().length != 0">
                    <i class="fa fa-search" aria-hidden="true"></i>
                </a>

                <a class="btn btn-primary col-lg-2 col-sm-2" id="buscarBtn" [routerLink]="['/buscar-gente']" *ngIf="usernameSearch.trim().length == 0">
                    <i class="fa fa-search" aria-hidden="true">
                        </i>
                </a>
            </div>
        </form>
    </div>
</div>