<div class="row" id="mensaje">
    <div class="col-lg-4">
        <h1 class="h1-strong">Estadísticas</h1>
        <div class="sidebar-admin">
            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link" *ngIf="follows" id="v-pills-send-tab" data-toggle="pill" [routerLink]="['/stadistics-list']" role="presentation" aria-controls="v-pills-home" aria-selected="true">Publicaciones por usuario</a>
                <a class="nav-link active" *ngIf="!follows" id="v-pills-send-tab" data-toggle="pill" [routerLink]="['/stadistics-list']" role="presentation" aria-controls="v-pills-home" aria-selected="true">Publicaciones por usuario</a>
                <a class="nav-link" id="v-pills-rec-tab" data-toggle="pill" [routerLink]="['/stadistics-list-7Days']" role="presentation" aria-controls="v-pills-profile" aria-selected="false">Canciones últimos 7 días</a>
                <a class="nav-link" *ngIf="!follows" id="v-pills-rec-tab" data-toggle="pill" [routerLink]="['/stadistics-list-follows']" role="presentation" aria-controls="v-pills-profile" aria-selected="false">Usuarios por nº de seguidores</a>
                <a class="nav-link active" *ngIf="follows" id="v-pills-rec-tab" data-toggle="pill" [routerLink]="['/stadistics-list-follows']" role="presentation" aria-controls="v-pills-profile" aria-selected="false">Usuarios por nº de seguidores</a>

                <!--<a class="nav-link" id="v-pills-rec-tab" data-toggle="pill" href="#v-pills-profile" role="presentation"
                aria-controls="v-pills-profile" aria-selected="false">Mensajes Recibidos</a>
            <a class="nav-link" id="v-pills-sends-tab" data-toggle="pill" href="#v-pills-messages" role="presentation"
                aria-controls="v-pills-messages" aria-selected="false">Mensajes Enviados</a>-->

            </div>

        </div>

    </div>
    <div class="col-lg-7" *ngIf="!follows">
        <h1 class="h1-strong">Número publicaciones por Usuario</h1>
        <div class="table-responsive">

            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Nombre de Usuario</th>
                        <th scope="col" style="text-align: center;">Número de Publicaciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of data">
                        <td>{{x.user}}</td>
                        <td style="text-align: center;">{{x.cont}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-7" *ngIf="follows">
        <h1 class="h1-strong">Número de seguidores por usuario</h1>
        <div class="table-responsive">

            <table class="table table-sm table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Nombre de Usuario</th>
                        <th scope="col" style="text-align: center;">Número de seguidores</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let x of data">
                        <td>{{x.user}}</td>
                        <td style="text-align: center;">{{x.cont}}</td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>