<div class="col-lg-5">
    <h1 class="h1-strong">Actualizar datos</h1>

    <div class="alert alert-success" *ngIf="status=='success'">
        Actualizado!
    </div>
    <div class="alert alert-danger" *ngIf="status=='error'">
        Error al actualizar!
    </div>
    <div class="alert alert-danger" *ngIf="status=='errorExtension'">
        La imagen debe de ser del tipo .jpg, .jpeg o .png.
    </div>
    <div class="alert alert-danger" *ngIf="status=='registrado'">
        El usuario o email están en uso.
    </div>
    <form #userEditForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label for="username">Nombre de usuario</label>
            <input type="text" name="username" #username="ngModel" [(ngModel)]="user.username" class="form-control" id="username" required>
            <div *ngIf="!username.valid && username.touched">
                <span *ngIf="username.errors?.required" class="validation">El nombre de usuario es obligatorio.</span>
                <span *ngIf="username.errors?.minlength" class="validation">El nombre de usuario debe tener 4 caracteres como mínimo.</span>

            </div>
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email" #email="ngModel" name="email" [(ngModel)]="user.email" class="form-control" id="email" required pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$">
            <div *ngIf="!email.valid && email.touched">
                <span *ngIf="email.errors?.required" class="validation">El email es obligatorio.</span>
                <span *ngIf="email.errors?.pattern" class="validation">No corresponde con un email.</span>

            </div>
        </div>

        <div class="form-group">
            <label for="avatar">Avatar</label>
            <input type="file" placeholder="Subir avatar" (change)="fileChangeEvent($event)">
            <span *ngIf="status == 'errorRegex'" class="validation">La imagen debe de ser del tipo .jpg, .jpeg o .png.</span>


        </div>
        <div class="image-user-edit" *ngIf="user.avatar">
            <img src="{{url+'get-image-user/'+user.avatar}}" alt="imagen-usuario">
        </div>

        <input type="submit" value="Actualizar" class="btn btn-primary" [disabled]="!userEditForm.form.valid">
        <button type="button" class="btn btn-secondary" (click)="atras()">
            Atrás
        </button>
    </form>

</div>